.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 10px;
}
  
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.3s;
}

.toggle-switch .slider:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.toggle-switch input:checked + .slider {
    background-color: #2271b1;
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(20px);
}

#hubspot-form-groups {
    overflow-x: auto;
}

.hubspot-form-group{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
}

.hubspot-form-group {
    display: flex;
    align-items: center;
    gap: 10px; /* optional spacing between fields */
    flex-wrap: nowrap;
}

.hubspot-form-group input[type="text"] {
    min-width: 150px;
}

.hubspot-form-group .field-enable-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hubspot-form-group .remove-hubspot-form-group {
    margin-left: auto; /* push button to the end */
}

.hubspot-toggle-button-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete-button{
    padding-top:5px !important;
    color: #d63638 !important;
    border-color: #d63638 !important;
    background: #f6f7f7 !important;
}